#ui-right {
    flex-wrap: nowrap;
}
#sidebar-content {
    position: relative;
    min-width: 300px;
}
#sidebar-resizer {
    width: 8px;
    height: 100%;
    cursor: ew-resize;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: all;
}
#sidebar-content.active-chat #sidebar-resizer {
    left: 12px;
}
#sidebar-content .tab {
    width: 100%;
}
.chat-log,
.chat-form {
    width: calc(100% - 12px);
    min-width: unset;
    max-width: unset;
}
.overflowed .chat-log {
    width: 100%;
}